@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<style>

    .banner {
        background: linear-gradient(to right, #4CAF50, #50c878);
        color: #fff;
        text-align: center;
        padding: 40px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        font-family: 'Netflix Sans', sans-serif;
    }

        .banner h1 {
            font-size: 36px;
            margin: 0;
        }

    .movie-tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .movie-tile {
        width: 30%;
        margin: 1%;
        background: #333;
        border: 1px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 10px;
    }

        .movie-tile:hover {
            transform: scale(1.05);
        }

        .movie-tile a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        .movie-tile img {
            max-width: 100%;
            height: auto;
        }

    body {
        background-color: #222;
        color: #fff;
    }

    table {
        background-color: #333;
        color: #fff;
    }

        table a {
            background-color: #50c878;
            color: #fff;
        }

            table a:hover {
                background-color: #fff;
                color: #50c878;
            }

    .banner {
        background: linear-gradient(to right, #ff8000, #ffbf00);
        color: #333;
        }
</style>

<div class="banner">
    <h1>NEXFLEEEEECE</h1>
</div>

<div class="movie-tiles">
    @foreach (var movie in Model)
    {
        <div class="movie-tile">
            <a href="/movies/getmovie/@movie.Id">
                <img src="@movie.PosterImageUrl" alt="@movie.Name" />
                <h3>@movie.Name</h3>
                <p>Rating: @movie.Rating</p>
                <p>Release Year: @movie.ReleaseYear</p>
                <p>Genre: @movie.Genre</p>
            </a>
        </div>
    }
</div>

