@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<style>

    .banner {
        background: linear-gradient(to right, #4CAF50, #50c878);
        color: #fff;
        text-align: center;
        padding: 40px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

        .banner h1 {
            font-size: 36px;
            margin: 0;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
    }

        table th, table td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }

        table thead tr {
            background-color: #333;
            color: #fff;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table a {
            display: inline-block;
            padding: 8px 16px;
            text-decoration: none;
            background-color: #50c878;
            color: #fff;
            border: 1px solid #50c878;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

            table a:hover {
                background-color: #fff;
                color: #50c878;
            }
</style>

<div class="banner">
    <h1>Korean Movies Collection</h1>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th></th>
            <th>Name</th>
            <th></th>
            <th>Rating</th>
            <th></th>
            <th>Release Year</th>
            <th></th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td></td>
                <td ><a href = "/movies/getmovie/@movie.Id" > @movie.Name </a></td>
                <td></td>
                <td>@movie.Rating</td>
                <td></td>
                <td>@movie.ReleaseYear</td>
                <td></td>
                <td>@movie.Genre</td>
            </tr>
        }
    </tbody>
</table>

